@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

*::selection{
    background: #0070ac;
    color:#fff;
}

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-12{
    width: 100%;
    height: 100%;
}

.row{
    padding-left: 30px;
    padding-right: 30px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logos{
    margin-bottom: 70px;
}

table {
    width: 100%;
    height: 100%;
}

@media (max-width:991px){
    table{
        padding-left: 30px;
        padding-right: 30px;
    }
    table, th, tr, td,
    .btn-group a{
        font-size: 11px;
    }
}

@media (max-width:767px){
    table, th, tr, td,
    .btn-group a{
        font-size: 6.7px;
    }
}

header{
    height: 150px;
    width: 100%;
    padding-top: 40px;
    z-index: 10;
    transition: top 0.4s ease-out;
}

body{
    background-size: 330vh;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
}

h1{
    margin-bottom: 0;
    font-size: 62px;
    letter-spacing: 0px;
    color: #ffffff;
}
h2{
    font-size: 62px;
    font-weight: 950;
    letter-spacing: 0px;
}
h3{
    margin-bottom: 16px;
    margin-top: 24px;
    font-size: 29px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: Handlee, Arial;
}
h4{
    margin-bottom: 14px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: News Cycle, Arial;
}

h5{
    margin-bottom: 18px;
    font-size: 44px;
    font-weight: 300;
    letter-spacing: 2px;
    color:#ffffff;
}

h6{
    margin-bottom: 14px;
    margin-top: -6px;
    font-size: 27px;
    font-weight: 800;
    letter-spacing: -1px;
}

p{
    margin-bottom: 30px;
    margin-top: 0px;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: News Cycle, Arial;
}

.texto1 h2{
    margin-bottom: 0px;
    margin-top: -15px;
}

.texto1 h3{
    margin-bottom: -10px;
    margin-top: 5px;
}

.texto3 h2{
    margin-bottom: 0px;
    margin-top: -15px;
}

.texto2 h3{
    text-align: center;
}

.texto3 h3{
    margin-bottom: -30px;
    margin-top: 5px;
}

.navbar-toggler, ul li a{
    align-items: center;
    text-align: center;
}

@media (max-width:991px) {
    .navegador ul li a{
        font-size: 28px;
        margin-bottom: 3px;
    }
    nav form button {
        width: 100%;
        height: 50%;
        position: center;
        align-items: center;
        text-align: center;
    }
    .dropdown-menu{
        align-items: center;
        text-align: center;
    }
}

@media (max-width:991px) {
    ul li a{
        font-size: 30px;
        margin-bottom: 11px;
    }
    nav form button {
        width: 100%;
        height: 50%;
        position: center;
        align-items: center;
        text-align: center;
    }
    .dropdown-menu{
        align-items: center;
        text-align: center;
    }
}

#informacion{
    background-color: white;
    color:black;
}

#encabezado{
    background-color: #101010;
    color: white;
}

@media (max-width:991px) {
    .footer ul li a{
        font-size: 15px;
        margin-bottom: 5px;
    }
}

@media (max-width:768px) {
    .footer ul{
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
    }
    .footer_box ul li::marker{
        display: none;
    }
}

#ventas{
    background-color: #070707;
    color: white;
}

#galeria{
    background-color: #131313;
    color:white;
}

#ubicanos{
    background-color: #f5f5f5;
    color: black;
}

#funcionarios{
    background-color: #f9f9f9;
    color: black;
}

.padded{
    padding-top: 15px;
    padding-bottom: 15px;
}
.carousel.slide h5{
    font-size: 2rem;
    font-weight: 900;
    font-size: 44px;
}

.carousel.slide p{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    color:#ffffff;
}

#galeria figure figcaption{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
}

#galeria figure figcaption h6,
#galeria figure figcaption i{
    display: none;
}

#galeria figure figcaption i{
    cursor: pointer;
}

#fondo-oscuro{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
    display: flex;
}

#fondo-oscuro img{
    border:solid 5px #888888;
    border-radius: 10px;
}

#fondo-oscuro h5{
    border: solid 5px #999;
    padding: 3px;
    background-color: #333;
    border-radius: 50px;
    margin-top: 10px;
    min-width: 250px;
    text-align: center;
}

.img2 img{
    transition: all 0.75s;
}

.img2 img:hover{
    transform: translateY(-25px);
    box-shadow: 0 12px 16px rgba(255, 255, 255, 0.1);
}

#ventas-carrousel-light{
    background-image: url(https://image.freepik.com/vector-gratis/elegante-fondo-blanco-lineas-brillantes_1017-17580.jpg);
    background-repeat: no-repeat;
    background-size: 1905px 663px;
    color: black;
}

.ventas-carrousel-fondo{
    background-color: #090909;
    color: white;
}

#barralateral{
    margin-top: 28px;
    margin-bottom: 28px;
}

.navbar {
    background-color: white;
}

.titulo {
    font-weight: 700;
}

.progreso{
    width: 100%;
    height: 5px;
    background-color: #ffffff;
}

.barra{
    height: 10px;
    background: #050645;
    width: 0%;
}

#texto{
    background-color: #f5f5f5;
    color: black;
}

.contenedor {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    padding: 50px 0;
    padding-left: 25px;
    padding-right: 25px;
}

.contenedor p{
    text-align: justify;
}

.contenedor h3{
    letter-spacing: 3px;
    margin-top: -20px;
    font-weight: 900;
}

.sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
    padding-right: 30px;
    padding-left: 30px;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
    word-spacing: 4px;
    padding-right: 30px;
    padding-left: 30px;
}

.slogan2 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width:380px) {
    .slogan {
        font-size: 20px;
    }
    .sobre-nosotros {
        font-size: 46px;
    }
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    border: 13px solid #171717;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
            45deg,
            #f9d094,
            #bf9558
    );
    border-radius: 3px;
}

#scrollPath{
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 22px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}

#progressbar{
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 22px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7)
;
    filter: blur(10px);
}

#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7)
;
    filter: blur(30px);
}

#contador{
    background-color: #f1f1f1;
    color: black;
}

#contador h3{
    margin-bottom: -50px;
}

.counter-up{
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    margin-top: -115px;
}

.counter-up .content2{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -100px;
}

.content2 .box2{
    width: calc(25% - 30px);
    background-color: #ffffff;
    border: 3px solid #cdcdcd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transition: all 0.75s;
}

.content2 .box2:hover{
    transform: translateY(-25px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.content2 .box2 .icon{
    font-size: 48px;
    color: black;
}

.content2 .box2 .counter{
    font-size: 50px;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
}

.content2 .box2 .text3{
    color: black;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    font-family: Handlee, Arial;
}

#afiliados{
    background-color: #f9f9f9;
    color: black;
}

#particles-js2{
    height: 640px;
    position: relative;
    z-index: 200;
    height: 750px;
}

.img-header2{
    background: url("../img/particle-inicio.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;

    position: relative;
    width: 100%;
    height: 750px;
}

.img-header2 .header-info2{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.img-header2 .header-info2 h2{
    color: #fff;
    font-size: 70px;
    font-weight: normal;
}

.img-header2 .header-info2 hr{
    border: none;
    outline: none;
    height: 2px;
    background: #fff;
    width: 600px;
    margin: 15px 0px;
}

.img-header2 .header-info2 p{
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
}

.container3 {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container3 .card2 {
    position: relative;
    width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.4);
    transition: 0.8s ease-in-out;
}

.container3 .card2::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: #f0f0f0;
}

.container3 .card2:hover {
    height: 490px;
}

.container3 .card2 .content3 h2{
    position: absolute;
    right: -14px;
    font-size: 120px;
    font-weight: 800;
    top: 130px;
    color: #191919;
    opacity: 0.1;
    transition: 0.5s;
}

.container3 .card2 .imgBx {
    position: relative;
    width: 250px;
    height: 250px;
    top: -75px;
    left: 11px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.container3 .card2 .imgBx img{
    max-width: 100%;
    width: 250px;
    height: 250px;
    border-radius: 4px;
}

.container3 .card2 .content3 {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.container3 .card2 .content3 .slogan1{
    text-align: center;
    font-weight: 900;
    margin-top: -20px;
    margin-bottom: 7px;
    word-spacing: 6px;
    font-size: 25px;
}

.container3 .card2 .content3 .parrafo1{
    text-align: center;
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 17px;
}

.container3 .card2:hover .content3 {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.4s;
}